#img {
  max-width: 50%;
}

dl {
  padding-top: 30px;
}

.jumbotron {
  margin: 0px;
  padding: 0px;
}

.jumbotron h1 {
  color: #eff1f3;
  text-shadow: 1px 1px 1px black;
}

.jumbotron dl {
  font-size: 20px;
}

.nav-link {
  color: black;
}

.container h2 {
  padding-top: 30px;
}

.container p {
  padding-left: 20px;
  padding-right: 20px;
}

#intro {
  padding-top: 30px;
  color: #996600;
}

#quote {
  margin-top: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #eff1f3;
  text-shadow: 1px 1px 1px black;
  font-size: 30px;
}

footer {
  font-size: 10px;
  border-top: 1px solid grey;
}

footer a {
  color: grey;
}
